<style>
    .ng-table-pager.ng-scope {
           display: none;
        }
	h6, label {
		font-weight: 700;
	}	
	.dLink {
		pointer-events:none;
	}
	.dRow {
		background: #e9ecef;
	}
    .listofpartscombined{
    background-color: white!important;
  }
</style>
<section>
    <img src="assets/images/msPrintImage.png" alt="" style="float:left;">
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="topNav"> <a style="margin-right: 100px;color: white;">CME Stamping </a>
                </li>
                <li class="nav-item"> <a style="color: white;" class="nav-link" ui-sref="main"> Home </a>
                </li>
                <li class="topNav"> <a style="color: white;"> | </a>
                </li>
                <li class="nav-item"> <a style="color: white;" class="nav-link" ui-sref="main"> Sitemap </a>
                </li>
                <li class="topNav"> <a style="color: white;"> | </a>
                </li>
                <li class="nav-item"> <a style="color: white;" class="nav-link" ui-sref="main"> Contact Us </a>
                </li>
                <li class="topNav"> <a style="color: white;"> | </a>
                </li>
                <li class="nav-item"> <a style="color: white;" class="nav-link" ui-sref="main"> Feedback </a>
                </li>
                <li class="topNav"> <a style="margin-left: 400px;color: white;"> {{username}} </a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<h2 style="margin-top : 1.5%;margin-left: 2%;">eRFQ Inbox</h2>
<div style="margin-left: 2%;margin-right: 2%;">
    <ul class="breadcrumb">
        <a class="back" ui-sref="erfqInbox">    <span>&#8592;</span>Back to Inbox</a>
        <li class="breadcrumb-item green">eRFQ Float</li>
        <li class="breadcrumb-item" ng-class="((tpsshow) ? 'arrow_box' : 'green' )">Toolmaker Process Submission</li>
        <li class="breadcrumb-item" ng-class="((cmeshow) ? 'arrow_box' : ((tpsshow) ? '' : 'green') )">CME Acceptance/Feedback</li>
        <li class="breadcrumb-item" ng-class="((qsshow) ? 'arrow_box' : ((qrshow) ? 'green' : '' ) )">Quote Submission</li>
        <li class="breadcrumb-item" ng-class="((qrshow) ? 'arrow_box' : '' )">Quote Review</li>
        <li class="breadcrumb-item">Quote Comparison</li>
        <li class="breadcrumb-item">Final Target Cost</li>
        <li class="breadcrumb-item">Finalize Toolmaker</li>
    </ul>
</div>
<a id="dwnldLnk" style="display:none;"></a>


    <div ng-class="((tmshow) ? 'tab-infoTM' : 'tab-infoMS' )">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Group: {{group}}</td>
                    <td ng-if="tmshow">{{MSIE.AFSPM_MEMBER_ROLE}}: {{MSIE.AFSPM_MEMBER_TOKEN}}{{xmlObject[0].DomainName}} ({{MSIE.AFSPM_MEMBER_NAME}})</td>
                </tr>
                <tr>
                    <td>Tool Maker: {{tmDetails.TOOLMAKER_NAME}}</td>
                    <td ng-if="tmshow">{{StampL.AFSPM_MEMBER_ROLE}}: {{StampL.AFSPM_MEMBER_TOKEN}}{{xmlObject[0].DomainName}} ({{StampL.AFSPM_MEMBER_NAME}})</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tableFixHead" class="tab-main">
        <table ng-table="tableParams" class="table table-bordered">
            <tr ng-repeat='row in records' id="row{{$index}}" ng-class="((noclicks[$index]) ? 'dRow' : '' )">
                <td title="'Part No'">{{row.PART_NUMBER}}</td>
                <td title="'Nomenclature'">{{row.NOMENCLATURE}}</td>
                <td title="'Material Grade'">{{row.MATERIAL}}</td>
                <td title="'CAD Thickness'">{{row.CAD_THICKNESS}}</td>
                <td title="'CAD Data'"><a class="ml-2" style="text-decoration-line: underline; color: #d83c3c;" ng-click="downloadFile(row,$index)">{{row.CAD_DATA}}</a>
                </td>
                <!--data-target="#newUpload"-->
                <td title="'Process Document'"><a ng-if="isView[$index]" class="ml-2" style="text-decoration-line: underline; color: #d83c3c;cursor: pointer;" data-toggle="modal" data-target="#newUpload" ng-click="getPartN(row,$index)">VIEW</a>
                <i ng-if="!isView[$index] && tpsshow" class="ml-2 fas fa-file-upload" data-toggle="modal" data-target="#newUpload" ng-click="getPartN(row,$index)">  Upload Process Document</i>
                </td>
                <td title="'Process Combination'" ng-if="tpsshow || qsshow">
                        <!-- {{row.part_combined}} / {{row.prcsCombo}} -->
                    <select ng-disabled="isValid[$index] || onerow" ng-model="row.prcsCombo" class="form-control input-lg" ng-change="enable(row.prcsCombo,$index)">
                        <option ng-repeat="x in combinations" value={{x}}>{{x}}</option>
                    </select>
                </td>
                <td title="'Process Combination'" ng-if="!tpsshow && !qsshow">{{row.PROCESS_COMBINATION}}</td>
                <td title="'List of parts combined'" 
                ng-if="tpsshow || qsshow">
                <!-- {{row.part_combined}} -->
                    <!-- <select ng-disabled="enableParts[$index]"  
                    ng-change="calc(row.part_combined,$index)" 
                    -->
                    <select ng-disabled="!(row.prcsCombo=='Yes')" 
                    ng-model="row.part_combined" 
                    class="form-control input-lg listofpartscombined" 
                    
                    multiple="multiple" size="5"
                    >
                        <option ng-repeat="x in parts" value={{x.PART_NUMBER}}>{{x.PART_NUMBER}}</option>
                    </select>
                </td>
                <td title="'List of parts combined'" ng-if="!tpsshow && !qsshow">{{row.PART_COMBINED}}</td>
                <td title="'Panel Quantity'">{{row.PANEL_QUANTITY}}</td>
                <td title="'Toolmaker Remarks'" ng-if="tpsshow">
                    <input ng-disabled="isValid[$index]" type="text" class="form-control input-lg" ng-model="row.TMRemarks" style="margin-top: 4%;border: none;">
                </td>
                <td title="'Toolmaker Remarks'" ng-if="!tpsshow">{{row.TOOLMAKER_REMARK}}</td>
                <td title="'No.of Dies'" ng-if="!tpsshow">{{row.NO_OF_DIES}}</td>
                <td title="'Die weight (ton)'" ng-if="!tpsshow">{{row.DIE_WEIGHT}}</td>
                <td title="'Decision'" ng-if="msshow">
                <i class="fas fa-check-circle fa-lg" ng-class="((checkA[$index]) ? 'achecked' : 'unchecked' )" ng-click="decide('Accept',$index)"></i><span> Accept </span>
                <i class="fas fa-check-circle fa-lg" ng-class="((checkR[$index]) ? 'rchecked' : 'unchecked' )" ng-click="decide('Rework',$index)"></i><span> Rework </span>
                <i class="fas fa-check-circle fa-lg" ng-class="((checkC[$index]) ? 'cchecked' : 'unchecked' )" ng-click="decide('Conditionally Accept',$index)"></i><span> Conditionally Accept </span>
                </td>
                <td title="'MSIE Remarks'" ng-if="(cmeshow || qrshow) && rejectTC">
                    <input type="text" class="form-control input-lg" ng-model="row.MSIERemarks" style="margin-top: 4%;border: none;">
                </td>
                <td title="'MSIE Remarks'" ng-if="(!tpsshow && !cmeshow) ||  !rejectTC" id='msieRem'>{{row.MSIE_REMARK}}</td>
                <td title="'Cost'" ng-if="!tpsshow && !cmeshow">
                <a ng-if="row.COST != null" ng-class="((noclicks[$index]) ? 'dLink' : '')" class="ml-2" style="text-decoration-line: underline; color: #d83c3c;cursor: pointer;" ng-click="estimateSheet(row,$index)">{{row.COST}}</a>
                <a ng-if="row.COST == null" ng-class="((noclicks[$index]) ? 'dLink' : '')" class="ml-2 fas fa-eye" style="text-decoration-line: underline; color: #d83c3c;cursor: pointer;" ng-click="estimateSheet(row,$index)">Details</a>
                </td>
            </tr>
        </table>
    </div>
    <button type="button" ng-if="tpsshow" ng-click="processTemplate()" class="reject btn btn-primary btn-block" style="width: auto;margin: 1% 2% 0 0;" ng-class="((complete) ? 'noclick' : '' )">Download Process Template</button>
    <div class="row" ng-if="cmeshow" style="padding:1%" ng-class="((complete) ? 'noclick' : '' )">
        <div class="col-sm-6" style="float:left"></div>
        <div class="col-sm-6" style="float:left" id="BTNReject1">
            <div class="col-sm-3" style="float:left">
                <button type="button" class="reject btn btn-primary btn-block" data-toggle="modal" data-target="#rejectModal">  <i class="fas fa-times-circle" style="margin-right: 10%;" id="BTNReject"></i> Reject</button>
            </div>
            <div class="col-sm-5" style="float:left; max-width: 35%;">
                <button type="button" class="enbtn btn btn-primary btn-block" ng-disabled="msrows" ng-click="startDiscussion('Initiate')" id="BtnIntTechD">Initiate Technical Discussion</button>
            </div>
            <div class="col-sm-4" style="float:left">
                <button type="button" class="enbtn btn btn-primary btn-block" ng-click="startDiscussion('MOM')" id="BtnTechDM">Technical Discussion MOM</button>
            </div>
        </div>
    </div>

    <!-- From Akanksha-->
<div ng-class="((complete) ? 'noclick' : '' )"> 
    <div style="margin: 5% 2%;" ng-if="tpsshow || cmeshow">
        <!--Document tables-->
        <div class="row" style="padding-left: 1.3%;">
            <div class="col-sm-5" style="float:left">
                <div id="tableFixHead" style="float:left;width: 100%;margin-right: 2%;overflow-y: scroll;display: block;height: 10em;border: 1px solid #f2f2f2; ">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead style="width: 100%;">
                            <tr style="background-color: #f9f9f9;width:100%" class="table table-striped table-bordered table-hover table-condensed">
                                <th style="font-size: 1em;width: 1%;"></th>
                                <th style="padding: 1%;font-size: 1em;">Supporting Documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="FileRow in FileArray track by $index" style="width:100%;background-color: white;" class="table table-striped table-bordered table-hover table-condensed" style="background-color:white;">
                                <td style="font-size: 18px;padding-top: 2%;" title="'Panel Condition'">
                                    <label class="container" id="checkCon" style="padding-left: 0px;margin-left: 2%;margin-top: 2%;width: 30%;float:left;font-size: 18px;color: #a09393;">
                                        <input type="checkbox" id="chk_box" style="width:0;height:0;opacity:0;" ng-model="select11" value={{FileValue}} ng-change="CreateDeleteFileArray(FileRow,$index)">  <span class="checkmark" id="chckMark"></span>
                                    </label>
                                </td>
                                <td id="$index" style="font-size: 18px;padding-top: 2%;" ng-click="downloadFile(FileRow, $index)"> <span>
                                            <b>
                                                <a id='{{$index+2}}' download='{{FileRow.DOCUMENT_NAME}}' style="color: #423d3d;font-size: 0.8em;">
                                        {{FileRow.DOCUMENT_NAME}}
                                        </a>
                                            </b>
                                        </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5" ng-if="msshow">
                    <div style="float: left;padding-top: 4%;">
                        <button type="button" id="UploadButton" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-controls-modal="myModal" data-backdrop="static" data-keyboard="false" style="background-color: #fff;border: 1px solid white;padding: 0;"><i class="fas fa-upload" style="font-size: 1.3em;color: #d83c3c;clear:both"></i>
                        </button>
                    </div>
                    <div style="float: left;padding-top: 7%;padding-left: 2%;"><i class="fas fa-trash" style="font-size: 1.3em;color: #d83c3c;float: left;margin-left: 2%;clear:both" ng-click="FiledeleteRow()"></i>
                    </div>
                </div>
            </div>
            <!--download Document table-->
            <div class="col-sm-7" style="float:left;margin-bottom: 2%;" ng-if="msshow">
                <div id="tableFixHead" style="float:left;width: 100%;overflow-y: scroll;height: 13em;border: 1px solid #dbd5d5;">
                    <table class="table table-striped table-bordered table-hover table-condensed" style="float:left;">
                            <div style="background-color: #f9f9f9;width:100%" class="table table-striped table-bordered table-hover table-condensed">
                                <b colspan="4" style="padding: 1%;font-size: 1em;">Supporting Document History</b>
                            </div>
                        <thead style="width: 100%;">
                            <tr style="width:100%" class="table table-striped table-bordered table-hover table-condensed">
                                <th style="font-size:15px;width:35%">Document Name</th>
                                <th style="font-size:15px;width:27%">Submitted By</th>
                                <th style="font-size:15px;width:28%">Submitted On</th>
                                <th style="font-size:15px;width:10%">Revision</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id='{{$index}}' ng-repeat="DownloadFile in hFileArray " style="width:100%" class="table table-striped table-bordered table-hover table-condensed">
                                <td style="font-size: 15px;padding-top: 2%;background-color: white;width:35%" ng-click="downloadFile(DownloadFile, $index)">
                                    <div style="float: left;width:90%;background-color: white;color: #423d3d;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"> <a id='{{$index+3}}' download='{{DownloadFile.DOCUMENT_NAME}}'>{{DownloadFile.DOCUMENT_NAME}}</a>
                                    </div>
                                </td>
                                <td style="font-size:15px;width:27%;background-color: white;">{{DownloadFile.UPLOADED_BY}}</td>
                                <td style="font-size:15px;width:28%;background-color: white;">{{DownloadFile.UPLOADED_ON| date:'dd/MM/yyyy'}}</td>
                                <td style="font-size:15px;width:10%;background-color: white;">{{DownloadFile.REVISION}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="noclick">
                <h6>Durability & quality of tools: </h6>
                <div class="row" style="width:100%">
                    <div class="col-sm-4" style="width:100%">
                        <label>Total Volume</label>
                        <input type="text" ng-model="Total_Vol" style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;padding:.375rem .75rem;width: 100%;" name="totalVol" required>
                        <div role="alert"> <span class="error" ng-show="myForm.totalVol.$touched && myForm.totalVol.$invalid" style="color:red;font-size: 0.8em;">
           Please enter volume</span>
                        </div>
                    </div>
                    <div class="col-sm-4" style="width:100%">
                        <label>Total Productivity</label>
                        <input type="text" ng-model="Total_Prod" style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;padding:.375rem .75rem;width: 100%;" name="totalProd" required>
                        <div role="alert"> <span class="error" ng-show="myForm.totalProd.$touched && myForm.totalProd.$invalid" style="color:red;font-size: 0.8em;">
           Please enter Productivity</span>
                        </div>
                    </div>
                    <div class="col-sm-4" style="width:100%">
                        <label>Durability in Years</label>
                        <input type="text" ng-model="Total_Duration" style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;padding:.375rem .75rem;width: 100%;" name="totalDuration" required>
                        <div role="alert"> <span class="error" ng-show="myForm.totalDuration.$touched && myForm.totalDuration.$invalid" style="color:red;font-size: 0.8em;">
         
           Please enter Duration</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 2%;padding-top: 1.5%;">
                    <div class="col-sm-4" style="width:100%">
                        <label>Waranty by Die maker</label>
                        <input type="text" ng-model="Total_Waranty" style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;padding:.375rem .75rem;width: 100%;" name="waranty" required>
                        <div role="alert"> <span class="error" ng-show="myForm.waranty.$touched && myForm.waranty.$invalid" style="color:red;font-size: 0.8em;">
           Please enter Warranty</span>
                        </div>
                    </div>
                    <div class="col-sm-4" style="width:100%">
                        <label>Build Quality</label>
                        <label class="container" id="checkCon" style="margin-left: 2%;float:left;font-size: 15px;color: #a09393;">M&M Specification
                            <input type="checkbox" id="M_chk_box" class="checkBoxChange" style="width:0;height:0;opacity:0;width:100%" ng-model="selectOne" value={{TOOLMAKER_NAME}} ng-change="CreateBuildChoice('M&M')" checked>  <span class="checkmark" id="chckMark"></span>
                        </label>
                    </div>
                    <div class="col-sm-4" style="width:100%">
                        <label style="color: white;">Build Quality</label>
                        <label class="container" id="checkCon" style="margin-left: 2%;float:left;font-size: 15px;color: #a09393;">Die maker's specification
                            <input type="checkbox" id="D_chk_box" class="checkBoxChange" style="width:0;height:0;opacity:0;" ng-model="selectTwo" value={{TOOLMAKER_NAME1}} ng-change="CreateBuildChoice('DieMaker')">  <span class="checkmark" id="chckMark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h6 style="margin-top: 2%;">Panel supply for various events: </h6>
        <div id="tableFixHead" style="height: 13em;border: 1px solid #dbd5d5;overflow-y: scroll;">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover table-condensed" style="width: 100%;">
                <tr ng-repeat="eventRow in $data" style="width:100%;background-color: white;">
                    <td title="''" class="col-xs-1" style="width:5%;font-size: 15px;background-color: #ffff;padding-top: 2%;padding-right: 2%;z-index:1;min-width: 50px;width: 50px;max-width: 50px;">
                        <label class="container" id="checkCon" style="padding-left: 0px;margin-left: 2%;margin-top: 2%;width: 30%;float:left;font-size: 18px;color: #a09393;margin-bottom: 0px;">
                            <input type="checkbox" id="chk_box" style="width:0;height:0;opacity:0;" ng-model="eventRow.selected1" value={{eventRow.EVENT}} ng-change="CreateDeleteArray(eventRow,$index)">  <span class="checkmark" id="chckMark" style="margin-top: -20px;"></span>
                        </label>
                    </td>
                    <td title="'EVENT'" style="width:14%;z-index:1;min-width: 143px;width: 143px;max-width: 143px;">{{eventRow.EVENT}}
                        <!--<select  ng-model="eventRow.EVENT" class="form-control input-lg" ng-change="passEventCode(eventRow,$index)"><option ng-repeat="x in eventList " ng-disabled="disabled[x.EVENT]" value={{x.EVENT}}>{{x.EVENT}}</option></select> -->
                    </td>
                    <td title="'DATE'" style="width:10%;z-index:1;min-width: 101px;width: 101px;max-width: 101px;">{{eventRow.EVENT_DATE|date:'dd/MM/yyyy'}}</td>
                    <td title="'PANEL QUALITY'" style="width:17%;z-index:1;min-width: 173px;width: 173px;max-width: 173px;">{{eventRow.PANEL_QUALITY}}</td>
                    <td title="'PIST LEVEL'" style="width:17%;z-index:1;min-width: 172px;width: 172px;max-width: 172px;">{{eventRow.PIST_LEVEL}}</td>
                    <td title="'PANEL CONDITIONS'" style="width:20%;z-index:1;min-width: 220px;width: 220px;max-width: 220px;">{{eventRow.PANEL_CONDITIONS}}</td>
                    <td title="'DELIVERY ADDRESS'" style="width:18%;z-index:1;min-width: 185px;width: 185px;max-width: 185px;">{{eventRow.DELIVERY_ADDRESS}}</td>
                </tr>
            </table>
        </div>
    </div>

        <div class="row" style="margin: 2% 2%;">
            <div style="width: 48%;">
                <label>Remarks</label>
                <textarea class="form-control" rows="4" ng-model="obj.LastRemarks" id='textArea'></textarea>
            </div>
            <div style="width: 4%;"></div>
            <div style="width: 48%;">
                <label>Note</label>
                <div class="alert alert-primary" role="alert">
                    <ol>
                        <li>If you need a clarification, Connect with MSIE</li>
                        <li>If you combine the panel, please use RH as a base combined with LH part</li>
                        <li>You must use the process template for submission</li>
                    </ol>
                </div>
            </div>
        </div>

    <div class="row" style="margin: -2% 0 2% 0;">
        <div class="col-sm-6" style="float:left"></div>
        <div class="col-sm-6" style="float:left">
            <div class="col-sm-3" style="float: right;">
                <button type="button" class="enbtn btn btn-primary btn-block" ng-if="roles == 'MSIE' && obj.STATUS== 'QURE'" ng-click="savechanges()"  ng-disabled="docData.length == 0" id="BtnApprove"> <i style="color:white;margin-right: 10%;" class="fas fa-check-double"></i> Approve</button>
            </div>
            <div class="col-sm-3" style="float: right;">
                <button type="button" class="reject btn btn-primary btn-block" ng-if="roles == 'MSIE' && obj.STATUS== 'QURE'" ng-click="rejectchanges()" id="BtnFinalReject">  <i class="fas fa-times-circle" style="margin-right: 10%;"></i> Reject</button>
            </div>          
            <div class="col-sm-3" style="float: right;">
                <button type="button" class="enbtn btn btn-primary btn-block" ng-if="obj.STATUS != 'QURE'" ng-click="savechanges()"  ng-disabled="docData.length == 0" id="BtnSubmit"> <i style="color:white;margin-right: 10%;" class="fas fa-check-double"></i> Submit</button>
            </div>          
            <div class="col-sm-3" style="float: right;">
                <button type="button" class="reject btn btn-primary btn-block" ng-if="obj.STATUS != 'QURE'" data-toggle="modal" data-target="#regretModal"  id="BtnRegret">  <i class="fas fa-times-circle" style="margin-right: 10%;"></i> Regret</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" style="margin-top: 0%;" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" style="float:right" class="close" data-dismiss="modal">x</button>
                <div class="row" style="padding:.375rem .75rem">
                    <p><b>Upload File</b>
                    </p>
                </div>
                <form name="SaveDetailsForm" role="form">
                    <div class="row">
                        <div class="col-sm-9" style="width: 100%;">
                            <label>File Name</label>
                            <input type="text" ng-model="fileName" readonly style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;width: 100%;">
                        </div>
                        <div class="col-sm-3">
                            <label style="color:white">File Name</label>
                            <button class="btn btn-primary btn-block" style="background-color:#d83c3c;border: 1px solid white;" ngf-select="ViewFileName($file)" ngf-max-height="1000" ngf-max-size="10MB">
                                <!--<i class="fas fa-upload" style="font-size: 1.3em;color: #d83c3c;clear:both;padding-left: 3%;"></i>--> <span style="color: #fff;font-weight:500">Browse</span>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary btn-block" type="submit" ng-click="browseAndAddRow(FileObject,$event,'ProjectReq')" data-dismiss="modal" style="float: right;background-color:#d83c3c;color:white;padding-top: 5%;margin-top: 16%;"> <i class="fas fa-save" style="color:white"></i><span style="color:white;padding-left: 8%;
    font-weight: 500;">Upload</span>
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="regretModal" class="modal fade" style="margin-top: 0%;" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" style="float:right" class="close" data-dismiss="modal">x</button>
                <h5 class="modal-title"><center>Are you sure want to regret?</center></h5>
                <div class="row">
                    <div class="col-sm-4" style="float:left"></div>
                    <div class="col-sm-4" style="float:left">
                        <div class="col-sm-6" style="float:left;padding: 0;">
                            <button type="button" class="reject btn btn-secondary btn-block" data-dismiss="modal">No</button>
                        </div>
                        <div class="col-sm-6" style="float:left;padding: 0;">
                            <button type="button" class="enbtn btn btn-primary btn-block" ng-click="dumpchanges()">Yes</button>
                        </div>
                    </div>
                    <div class="col-sm-4" style="float:left"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rejectModal" class="modal fade" style="margin-top: 10%;" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" style="float:right" class="close" data-dismiss="modal">x</button>
                <h5 class="modal-title">Remarks</h5>
                <textarea class="form-control" rows="4" ng-model="obj.rejectRemarks"></textarea>
                <button type="button" class="enbtn btn btn-primary btn-block" ng-click="revertchanges()">Done</button>
            </div>
        </div>
    </div>
</div>

<!--Please find the code below-->
<div id="newUpload" class="modal fade" style="margin-top: 0%;" role="dialog">
    <div class="modal-dialog" style="max-width: 70%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding:0rem">
                <div style="padding:.375rem .75rem;background-color:#eeeeee">
                    <div style="    padding-top: 1%;padding-left: 0.5%;padding-bottom: 0.5%;"><b style="font-size: 1.2em;">Process Document</b>
                        <button type="button" style="float:right" class="close" data-dismiss="modal">x</button>
                    </div>
                </div>
                <div class="row" style="height: 15em;">
                    <div class="col-sm-5" style="border-right: 2px solid #ded7d7;">
                        <div style="width: 100%;padding-top: 3%;padding-left: 3%;padding-bottom: 4%;"><b>Upload Process Document</b>
                        </div>
                        <div id="tableFixHead" style="padding-left: 2%;height: 9em;overflow-y: scroll;">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tbody>
                                    <tr ng-repeat="name in fileData track by $index" class="table table-striped table-bordered table-hover table-condensed" style="border: 1px solid white;">
                                        <td title="''" class="col-xs-1" style="width: 10% !important;font-size: 15px;background-color: #ffff;padding-top: 2%;padding-right: 2%;z-index:1;border-top: 1px solid white;border-left: 1px solid white;">
                                            <label class="container" id="checkCon" style="padding-left: 0px;margin-left: 2%;margin-top: 2%;width: 30%;float:left;font-size: 18px;color: #a09393;margin-bottom: 0px;">
                                                <input type="checkbox" id="chk_box" style="width:0;opacity:0;" ng-model="selected1" value={{eEVENT}} ng-change="CreateDelete(eEvent,$index)">   <span class="checkmark" id="chckMark"></span>
                                        </td>
                                        </label>
                                        <td class="col-xs-11" style="width:90% !important;font-size: 15px;background-color: #ffff;padding-top: 2%;padding-right: 2%;z-index:1;border-top: 1px solid white;border-right: 1px solid white;">{{name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--buttons-->
                        <div class="col-sm-12" style="padding: 0;padding-left: 2%;" ng-if="tmshow">
                            <div style="width: 8%;float: left;">
                                <button type="button" id="UploadButton" ng-disabled="isValid[$index] || complete" class="btn btn-info btn-lg" style="background-color: #fff;border: 1px solid white;padding: 0;" ngf-select="browseAndAddRow($file,$event,'ProcessDocument')" ngf-max-height="1000" ngf-max-size="10MB"><i class="fas fa-upload" style="font-size: 1.3em;color: #d83c3c;clear:both"></i>
                                </button>
                            </div>
                            <div style="float: left;padding-top: 1%;padding-left: 4%;"><i class="fas fa-trash" style="font-size: 1.3em;color: #d83c3c;float: left;margin-left: 2%;clear:both" ng-click="FiledeleteRow()" ng-disabled="isValid[$index] || complete"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7" style="padding-left: 0;border: 0;">
                        <div style="width: 100%;padding-top: 2%;padding-left: 2%;padding-bottom: 3%;"><b>Process Document History</b>
                        </div>
                        <div id="tableFixHead" style="float: left;width: 100%;overflow-y: scroll;height: 10.5em;">
                            <table class="table table-striped table-bordered table-hover table-condensed" style="float:left;width:100%">
                                <thead style="width:100%">
                                    <tr style="width:100%" class="table table-striped table-bordered table-hover table-condensed">
                                        <th style="font-size:15px;width:35%">Document Name</th>
                                        <th style="font-size:15px;width:27%">Submitted By</th>
                                        <th style="font-size:15px;width:28%">Submitted On</th>
                                        <th style="font-size:15px;width:10%">Revision</th>
                                    </tr>
                                    <tr id='{{$index}}' ng-repeat="DownloadFile in allDocs" style="width:100%" class="table table-striped table-bordered table-hover table-condensed">
                                        <td style="font-size: 15px;padding-top: 2%;background-color: white;width:35%" ng-click="downloadFile(DownloadFile, $index)">
                                            <div style="float: left;width:90%;background-color: white;color: #423d3d;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"> <a id='{{$index+3}}' download='{{DownloadFile.DOCUMENT_NAME}}'>{{DownloadFile.DOCUMENT_NAME}}</a>
                                            </div>
                                        </td>
                                        <td style="font-size:15px;width:27%;background-color: white;">{{DownloadFile.UPLOADED_BY}}</td>
                                        <td style="font-size:15px;width:28%;background-color: white;">{{DownloadFile.UPLOADED_ON| date:'dd/MM/yyyy'}}</td>
                                        <td style="font-size:15px;width:10%;background-color: white;">{{DownloadFile.REVISION}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
