<style>
    .green{
     background-color:#CCFFCC!important;
    background:#CCFFCC!important;
    }
    .red{
     background-color:#FFCCCC !important;
    background:#FFCCCC !important;
    }
    .white{
     background-color:#FFFFFF !important;
    background:#FFFFFF !important;
    }
    

    
    .greend select{
    background:#CCFFCC!important;
    }
    .redd select{
    background:#FFCCCC !important;
    }
    .whited select{
    background:#FFFFFF !important;
    }
    
    .dropdown-menu{
        position: absolute;
        will-change: transform;
        top: 0px;
      /*  left: -13px !important;*/
    
        transform: translate3d(0px, 30px, 0px);
    }
    
    /*
    .dropdown-menu-ovflow{
      height:200px !important;
      overflow: scroll;
      overflow-x: hidden;
    
    }
     width */
    .dropdown-menu-ovflow::-webkit-scrollbar {
      width: 2px;
    }
    
    /* Track */
    .dropdown-menu-ovflow::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    /* Handle */
    .dropdown-menu-ovflow::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    /* Handle on hover */
    .dropdown-menu-ovflow::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    </style>
    <a  id="dwnldLnk" style="display:none;"></a>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                ...
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
             </div>
          </div>
       </div>
    </div>
    <div style="padding-left:10px;">
    <h1> Panel Grouping</h1>
    <div class="row">
    <div class="col-md-2">
    <label for="exampleInputEmail1">Project Code</label>
        <input 
             type="text" 
              class="form-control"
              readonly
             ng-model="vm.data.pass.ProjectCode">
    </div>
    <div class="col-md-2">
    <label for="exampleInputEmail1">E-BOM Revision</label>
        <input 
                type="text" 
                ng-model="vm.selectedItem" 
                placeholder="Custom template" 
                uib-typeahead="state as state.label for state in vm.arr | filter:{value:$viewValue}" 
                typeahead-template-url="customTemplate.html" 
                typeahead-on-select="changechange($item, $model, $label)"
                class="form-control" 
                typeahead-min-length="0">
    </div>
    <div class="col-md-8 ">
      
          <div class="dropdown float-right mt-5">
      <button class="btn bg-danger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog" style="color:#FFF;"></i>
      </button>  
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-ovflow" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" ng-repeat="d in gridOptions.columnDefs" ng-click="sh(d)"> 
        <input class="form-check-input" type="checkbox" value="" ng-model="d.visible">
        {{d.name}}
        </button>
        
      </div>
    </div>
    
    </div>
    </div>
    
    <!-- ui-grid-pagination  -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg -12">
        <div 
       id="grid1"
       class="grid mt-2 mb-3 border"
       ui-grid="gridOptions"
       ui-grid-pinning 
       ui-grid-exporter
       ui-grid-edit
       style="height:30px;"
       ng-if="gridOptions.data"
       ></div>
      </div>
    </div>
    Note
    <div class="alert alert-primary" role="alert">
       <ol>
          <li>User have to categorizing the part as A & B in BOM Manager</li>
          <li>System will show the categerized as A & B in RFQ</li>
       </ol>
    </div>
    <div class="row mt-2">
       <div class="col-md-4 col-sm-4">
          <!--       <button 
             type="button" 
             class="btn btn-outline-danger" 
             ng-if="gridOptions.data" 
             ng-click="download()"> 
             <i class="fas fa-file-download" ></i> Export
             </button> -->
          <button 
             type="button" 
             class="btn btn-outline-danger" 
             ng-if="gridOptions.data"
             ng-click="download()" 
             style="border-color: black;color: black;"> 
          <i class="fas fa-file-download" style="color: green;"></i> Export
          </button>
       </div>
    <div class="d-none">{{ssaveFlag}}</div>
       <div class="col-md-4 col-sm-4">
          <button 
             type="button" 
             class="btn btn-outline-danger" 
             ng-if="gridOptions.data" 
    ng-disabled="ssaveFlag"
             ng-click="vm.ssave()">
          <i class="fas fa-save"></i> Save 
          </button>
       </div>
       <div class="col-md-4 col-sm-4">
          <a 
             role="button" 
             class="btn btn-outline-danger"
             ui-sref="mainApp.ProjectRequirement">
          <i class="fas fa-chevron-left" ></i> Back
          </a>
          <a 
             role="button" 
             class="btn btn-outline-danger" 
             ui-sref="mainApp.toolmakerMapping"> Next 
          <i class="fas fa-chevron-right"></i>
          </a>
       </div>
    </div>
    <div id="myModal" class="modal fade" style="margin-top: 0%;" role="dialog">
       <div class="modal-dialog ">
          <!-- Modal content-->
          <div class="modal-content">
             <div class="modal-body">
                <button type="button" style="float:right" class="close" data-dismiss="modal">x</button>
                <div class="row" style="padding:.375rem .75rem">
                   <p><b>Upload File</b></p>
                </div>
                <form  name="SaveDetailsForm" role="form">
                   <div class="row">
                      <div class="col-sm-9" style="width: 100%;">
                         <label>File Name</label>
                         <input type="text" ng-model="files[0].name" readonly style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;width: 100%;" >
                      </div>
                      <div class="col-sm-3">
                         <label style="color:white" >File Name</label>
                         <!-- <button type="button" class="btn btn-primary btn-block" ngf-select="ViewFileName($file)"  style="background-color:#d83c3c;border: 1px solid white;"> -->
    
             <button 
             class="btn btn-primary btn-block"
             style="background-color:#d83c3c;border: 1px solid white;"
            ngf-select="uploadFiles($files, $invalidFiles)" 
            ngf-max-height="1000" 
            ngf-max-size="10MB">
    
                            <!--<i class="fas fa-upload" style="font-size: 1.3em;color: #d83c3c;clear:both;padding-left: 3%;"></i>-->
                            <span style="color: #fff;font-weight:500">Browse</span>
                         </button>
                      </div >
                   </div>
          <!--          <div class="row" style="width: 100%;">
                      <div class="col-sm-12">
                         <label>Description</label>
                         <input type="text" required ng-model="DOCUMENT_DESC1" style="height:40px;display: block;border-radius:.25rem;border:1px solid #ced4da;width: 100%;" >
                         <div role="alert"><span class="error" ng-show="SaveDetailsForm.DOCUMENT_DESC1.$touched && myForm.totalProd.$invalid" style="color:red;font-size: 0.8em;">
                            Please enter description</span>
                         </div>
                      </div>
                   </div> -->
                   <div class="row" style="width: 100%;">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                         <button class="btn btn-primary btn-block"   type="submit" ng-disabled="SaveDetailsForm.$invalid" ng-click="browseAndAddRow()" 
                            data-dismiss="modal" style="float: right;width: 68%;background-color:#d83c3c;color:white;padding-top: 5%;margin-top: 16%;" >  <i class="fas fa-save" style="color:white"></i><span style="color:white;padding-left: 8%;
                            font-weight: 500;" >Save</span></button>
                      </div>
                      <div class="col-sm-4"></div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>